<div class="container">
  <h1>Receitas Médicas</h1>
  <form [formGroup]="form" >
    <div class="form-group">
      <label for="patientName">Paciente: Nome</label>
      <input type="text" id="patientName" name="patientName" formControlName="patientName" required>
    </div>
    <div class="form-group">
      <label for="patientCPF">Paciente: CPF</label>
      <input type="text" id="patientCPF" name="patientCPF" formControlName="patientCPF" required>
    </div>
    <div class="form-group">
      <label for="patientDOB">Paciente: Data de Nascimento</label>
      <input type="text" id="patientDOB" name="patientDOB" formControlName="patientDOB" required>
    </div>
    <div class="form-group" *ngFor="let medicamento of receita.medicamentos; let i = index">
      <h3>Medicamento {{ i + 1 }}</h3>
      <input type="text" id="medicationName" name="medicationName" formControlName="medicationName" placeholder="Nome do Medicamento" required>
      <input type="text" id="medicationCategory" name="medicationCategory" formControlName="medicationCategory" placeholder="Categoria" required>
      <input type="text" id="medicationANVISA" name="medicationANVISA" formControlName="medicationANVISA" placeholder="Código ANVISA" required>
      <button type="button" (click)="removerMedicamento(i)">Remover Medicamento</button>
    </div>
    <button type="button" (click)="adicionarMedicamento()">Adicionar Medicamento</button><br><br>
    <button type="button" (click)="adicionarReceita()">Salvar Receita</button>
  </form>
  <h2>Receitas Adicionadas</h2>
  <ul>
    <li *ngFor="let receitas in receita.paciente ; let i = index">
      <strong>Paciente:</strong> {{ receitas.paciente.nome }}, {{ receitas.paciente.cpf }}, Data de Nascimento: {{ receitas.paciente.dataNascimento }}
      <ul>
        <li *ngFor="let medicamento of receita.medicamentos; let j = index">
          <strong>Medicamento {{ j + 1 }}:</strong> {{ medicamento.nome }}, Categoria: {{ medicamento.categoria }}, Código ANVISA: {{ medicamento.codigoAnvisa }}
          <button (click)="removerMedicamentoReceita(i, j)">Excluir Medicamento</button>
        </li>
      </ul>
      <button (click)="removerReceita(i)">Excluir Receita</button>
    </li>
  </ul>
</div>
